---
  # Driver for OpenResty Installation
  # Ref: https://www.digitalocean.com/community/tutorials/how-to-use-the-openresty-web-framework-for-nginx-on-ubuntu-16-04

- name: Compile from source
  import_tasks: source.yml
  when: resty_install_from_source == true

- name: Install form repo
  import_tasks: repo.yml
  when: resty_install_from_source == false

  ##### Post Installation Tasks #####

- name: copy systemd service file
  template:
    src: openresty.service
    dest: /etc/systemd/system/openresty.service

- name: configure default site for testing
  import_tasks: default_site.yml
  when: resty_default_server == true

- name: configure wordpress site
  import_tasks: wordpress.yml
  when: resty_default_server == false and resty_install_wp == true

- name: insert firewalld rule for nginx port {{ nginx_port }}
  firewalld:
    port: "{{ nginx_port }}/tcp"
    permanent: true
    state: enabled
    immediate: yes
  ignore_errors: yes
  when: firewalld_installed == true
