# @Author: Haupt Joshua <HauptJ>
# @Date:   26-Mar-2018
# @Email:  josh@hauptj.com
# @Filename: ssl.yml
# @Last modified by:   HauptJ
# @Last modified time: 02-Apr-2018

---
  # OpenResty SSL configuration

- name: Create SSL key directory
  file:
    path: "{{ resty_SSL_key_dir }}/"
    state: directory
    mode: 0700

- name: Create SSL cert directory
  file:
    path: "{{ resty_SSL_cert_dir }}/"
    state: directory
    mode: 0700

- name: Generate Self Signed SSL for testing
  block:
    - name: Generate self-signed key and certificate pair with OpenSSL
      command: 'openssl req -x509 -nodes -subj "/C=US/ST=Illinois/L=Hell/O=IT/CN={{ server_hostname }}" -days 365 -newkey rsa:2048 -keyout {{ resty_SSL_key_dir }}/nginx-selfsigned.key -out {{ resty_SSL_cert_dir }}/nginx-selfsigned.crt'
      args:
        creates: "{{ resty_SSL_cert_dir }}/nginx-selfsigned.crt"

    - name: Generate dhparam
      command: "openssl dhparam -out {{ resty_SSL_cert_dir }}/dhparam.pem 2048"
      args:
        creates: "{{ resty_SSL_cert_dir }}/dhparam.pem"

  when: resty_SSL_self_signed == true

#### TODO #####
# Allow import of authority signed SSL certificates
