#!/bin/bash
mkdir /var/lib/nginx
./configure -j{{ resty_compile_threads }} \
{% if with_luajit %} --with-luajit {% endif %}
{% if with_dav %} --with-http_dav_module {% endif %}
{% if with_flv %} --with-http_flv_module {% endif %}
{% if with_geoip %} --with-http_geoip_module {% endif %}
{% if with_gzip_static %} --with-http_gzip_static_module {% endif %}
{% if with_image_filter %} --with-http_image_filter_module {% endif %}
{% if with_realip %} --with-http_realip_module {% endif %}
{% if with_stub_status %} --with-http_stub_status_module {% endif %}
{% if with_ssl %} --with-http_ssl_module {% endif %}
{% if with_sub %} --with-http_sub_module {% endif %}
{% if with_xslt %} --with-http_xslt_module {% endif %}
{% if with_ipv6 %} --with-ipv6 {% endif %}
{% if with_mail %} --with-mail {% endif %}
{% if with_mail_ssl %} --with-mail_ssl_module {% endif %}
{% if with_secure_link %} --with-http_secure_link_module {% endif %}
{% if with_sha1 %} --with-sha1={{ with_sha1 }} {% endif %}
{% if with_md5 %} --with-md5={{ with_md5 }} {% endif %}
{% if with_pcre_jit %} --with-pcre-jit {% endif %}
{% if with_debug %} --with-debug {% endif %}
{% if with_auth_request %} --with-http_auth_request_module {% endif %}
{% if with_addition %} --with-http_addition_module {% endif %}
{% if with_gunzip %} --with-http_gunzip_module {% endif %}
{% if with_postgres %} --with-http_postgres_module {% endif %}
{% if with_http2 %} --with-http_v2_module {% endif %}
{% if with_file_aio %} --with-file-aio {% endif %}
{% if without_http_uwsgi %}
  --without-http_uwsgi_module
{% else %}
  --http-uwsgi-temp-path=/var/lib/nginx/uwsgi
{% endif %}

{% if without_http_scgi %}
  --without-http_scgi_module
{% else %}
  --http-scgi-temp-path=/var/lib/nginx/scgi
{% endif %}

{% if without_http_coolkit %}
  --without-http_coolkit_module
{% endif %}

{% if without_http_empty_gif_module %}
  --without-http_empty_gif_module
{% endif %}

{% if without_mail_pop3_module %}
  --without-mail_pop3_module
{% endif %}

{% if without_mail_imap_module %}
  --without-mail_imap_module
{% endif %}

{% if without_mail_smtp_module %}
  --without-mail_smtp_module
{% endif %}

--http-client-body-temp-path=/var/lib/nginx/body \
--http-fastcgi-temp-path=/var/lib/nginx/fastcgi \
--http-log-path=/var/log/nginx/access.log \
--http-proxy-temp-path=/var/lib/nginx/proxy
